; 请妥善保管您的配置
registry=https://xverse-git-npm.pkg.coding.net/npm-registry/npm/
always-auth=true
//xverse-git-npm.pkg.coding.net/npm-registry/npm/:username=npm-1720682136523
//xverse-git-npm.pkg.coding.net/npm-registry/npm/:_password=MWY1ZWIzNmFhZjM4OTA1OGQyMWM1YTIzOWJjOGMzMTJmMDE3N2IzMg==
//xverse-git-npm.pkg.coding.net/npm-registry/npm/:email=huangyueming@xverse.cn